github "3lvis/Networking" "master"
github "bakkenbaeck/SweetUIKit" "master"
github "bakkenbaeck/SweetSwift" "master"
github "bakkenbaeck/SweetFoundation" "feature/carthage"
github "realm/realm-cocoa"
